* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

:root {
  --vermelho: #c62828;
  --vermelho-hover: #a61f1f;
  --preto: #111;
  --branco: #fff;
  --cinza: #f4f4f4;
  --borda: #e0e0e0;
}

body {
  background: linear-gradient(135deg, #111, #2a2a2a);
  min-height: 100vh;
}

.page {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.form-card {
  background: white;
  max-width: 900px;
  width: 100%;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.35);
  animation: fade 0.4s ease;
}

@keyframes fade {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 150px;
}

h1 {
  text-align: center;
  color: var(--vermelho);
  margin-bottom: 25px;
}

.card {
  background: var(--cinza);
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 20px;
  border-left: 5px solid var(--vermelho);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-2px);
}

.card h2 {
  margin-bottom: 15px;
}

.destaque {
  border-left: 5px solid #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.full {
  grid-column: span 2;
}

label {
  font-weight: 600;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--borda);
  margin-top: 5px;
  transition: 0.2s;
}

input:focus, select:focus {
  border-color: var(--vermelho);
  box-shadow: 0 0 0 3px rgba(198,40,40,0.15);
  outline: none;
}

.radio-group {
  display: flex;
  gap: 15px;
  margin-top: 8px;
}

input[type="radio"] {
  accent-color: var(--vermelho);
}

button {
  width: 100%;
  padding: 15px;
  background: var(--vermelho);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: var(--vermelho-hover);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .full {
    grid-column: span 1;
  }

  .login-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(135deg, #000000, #1a1a1a);
  
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 350px;
  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #d32f2f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background: #b71c1c;
}

.erro {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
}
